@layer base {

  html,
  body,
  #app {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5f7fa;
    /* Light gray-blue background */
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;